doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel="icon", href="https://static.himpfen.com/bhicon-transparent-blue.png", type="image/png")
    title Color Palettes by Brandon Himpfen
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css")
    link(rel="stylesheet", href="./style.css")
    // Fathom Analytics
    script(src="https://cdn.usefathom.com/script.js", data-site="XBWWWXJB", defer)
    // Google Adsense
    script(async, src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2079625064533995", crossorigin="anonymous")
  body
    .palettes-collection
      h1 Color Palettes by Brandon Himpfen
      #palettes-container
    .footer
      p Color Palettes by #[a(href="https://www.himpfen.com/", title="Brandon Himpfen") Brandon Himpfen] - All Rights Reserved.
    script(src="./script.js")
